<html>
<head>
    <title>Education Management System </title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="Itemlist">
    <button v-on:click="choice=0">Current Registrations</button>
    <button v-on:click="choice=1">Students</button>
    <button v-on:click="choice=2">Courses</button>
    <button v-on:click="choice=3">Departments</button>
    <button v-on:click="choice=4">Sections</button>
    <button v-on:click="choice=5">Semesters</button>

    <span v-if="choice===1">
        <h4> Students </h4>
            <template v-for="student in students">
                 <ul>
                     <li> <strong> Student Name: </strong> {{ student.name }} </li>
                     <li> <strong>Student Id: </strong> {{ student.identifier }} </li>
                 </ul>
            </template>
    </span>

    <!-- Courses -->
    <span v-if="choice===2">
        <h4> Courses </h4>
       <template v-for="course in courses">
           <ul>
               <li><strong> Course number: </strong>{{ course.number }} </li>
               <li><strong> Credit hours: </strong>{{ course.hours }} </li>
               <template v-for="department in departments">
                   <span v-if="course.department_id === department.id">
                       <li><strong> department: </strong>{{ department.name }} </li>
                   </span>
               </template>
           </ul>
       </template>
    </span>

    <!-- Departments -->
    <span v-if="choice===3">
        <h4> Departments </h4>
          <template v-for="department in departments">
              <ul>
                  <li>{{ department.name }} </li>
              </ul>
          </template>

    </span>

    <!-- Sections -->
    <span v-if="choice===4">
        <h4>Sections </h4>
            <template v-for="section in sections">
                 <ul>
                     <li> {{ section.year }} </li>
                 </ul>
            </template>
    </span>

    <!-- Semesters -->
    <span v-if="choice===5">
        <h4>Semesters</h4>
            <template v-for="semester in semesters">
                 <ul>
                     <li> {{ semester.semester }} </li>
                 </ul>
            </template>
    </span>

<!-- current Registrations -->
    <span v-else-if="choice===0">
        <h4> Registrations </h4>
        <div v-for="registration in registrations">
            <template v-for="student in students">
                <span v-if="registration.student_id === student.id">
                    <strong>Student name: </strong>{{ student.name }}
                </span>
            </template>

            <template v-for="section in sections">

                <span v-if="registration.section_id === section.id">
                        <ul>
                           <li> <strong>Section: </strong> {{ section.year }}</li>
                        </ul>
                    <template v-for="professor in professors">
                         <span v-if="professor.id === section.professor_id">
                             <ul>
                                 <li><strong>Professor:</strong> {{ professor.name }} </li>
                            </ul>
                        </span>
                    </template>

                    <template v-for="course in courses">
                         <span v-if="section.course_id === course.id">
                             <ul>
                                <li><strong>Course:</strong> {{ course.number }} </li>
                             </ul>
                             <template v-for="department in departments">
                                <span v-if="course.department_id === department.id">
                                    <ul>
                                        <li> <strong>Department:</strong>{{ department.name }} </li>
                                     </ul>
                                </span>
                             </template>

                        </span>
                    </template>

                    <template v-for="semester in semesters">
                         <span v-if="section.semester_id === semester.id">
                             <ul>
                                <li><strong>Semester: </strong>{{ semester.semester }} </li>
                            </ul>
                        </span>
                    </template>

                </span>

            </template>
        </div>
    </span>
</div>

<script type="text/javascript">
    var ItemsVue;
    ItemsVue = new Vue({
        el: '#Itemlist',
        data: {
            choice: 0,
            students: [],
            registrations: [],
            sections: [],
            courses: [],
            departments: [],
            semesters: [],
            professors: [],
        },
        mounted: function () {
            axios.get('http://localhost:3000/students.json')
                .then(response => {
                    this.students = response.data
                    console.log("Students", this.students);
                })
                .catch(error => {
                    console.log(error);
                });

            axios.get('http://localhost:3000/static_pages.json')
                .then(response => {
                    this.registrations = response.data
                    console.log("Registrations", this.registrations);
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('http://localhost:3000/professors.json')
                .then(response => {
                    this.professors = response.data
                    console.log("Professors", this.professors);
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('http://localhost:3000/sections.json')
                .then(response => {
                    this.sections = response.data
                    console.log("Sections", this.sections);
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('http://localhost:3000/semesters.json')
                .then(response => {
                    this.semesters = response.data
                    console.log("Semesters", this.semesters);
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('http://localhost:3000/departments.json')
                .then(response => {
                    this.departments = response.data
                    console.log("Departments", this.departments);
                })
                .catch(error => {
                    console.log(error);
                });
            axios.get('http://localhost:3000/courses.json')
                .then(response => {
                    this.courses = response.data
                    console.log("Courses", this.courses);
                })
                .catch(error => {
                    console.log(error);
                });
        }
    });
</script>
</body>
</html>